[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "anim.plots"]
	path = anim.plots
	url = https://github.com/hughjonesd/anim.plots
	shallow = true
	registered = true
[submodule "huxtable"]
	path = huxtable
	url = https://github.com/hughjonesd/huxtable
	shallow = true
	registered = true
[submodule "refset"]
	path = refset
	url = https://github.com/hughjonesd/refset
	shallow = true
	registered = true
[submodule "santoku"]
	path = santoku
	url = https://github.com/hughjonesd/santoku
	shallow = true
	registered = true
[submodule "truelies"]
	path = truelies
	url = https://github.com/hughjonesd/truelies
	shallow = true
	registered = true
